.App {
  font-family: sans-serif;
  text-align: center;
}

.dots-container {
  height: 100vh;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
}
